[python: app/**.py]
[jinja2: app/templates/**.html]
extensions=jinja2.ext.i18n,jinja2.ext.do,jinja2.ext.loopcontrols
[javascript: app/static/js/at-item-table.js]
[javascript: app/static/js/at-product-picker.js]
[javascript: app/static/js/product-detail-manager.js]
[javascript: app/static/js/product-config-modal.js]
