{% from 'macros/ui_helpers.html' import render_owner, render_datetime, render_currency_with_symbol, render_quotation_number, render_project_stage, render_project_type, render_confirmation_badge %}
{% import 'macros/ui_helpers.html' as ui %}

{% for quotation in quotations %}
<tr>
    <td class="px-3">
        <a href="{{ url_for('quotation.view_quotation', id=quotation.id) }}" class="text-decoration-none">
            {{ render_quotation_number(quotation.quotation_number) }}
        </a>
    </td>
    <td class="px-3">
        {{ render_owner(quotation.owner) }}
    </td>
    <td class="px-3">
        {% if quotation.project %}
            <a href="{{ url_for('project.view_project', project_id=quotation.project.id) }}" class="text-decoration-none">
                {{ quotation.project.project_name }}
            </a>
        {% else %}
            <span class="text-muted">-</span>
        {% endif %}
    </td>
    <td class="px-3 text-end">
        {% if quotation.confirmation_badge_status == 'confirmed' %}
            {{ render_confirmation_badge(quotation) }}
        {% endif %}
        {{ render_currency_with_symbol(quotation.amount, quotation.currency or 'CNY') }}
    </td>
    <td class="px-3">
        {% if quotation.project %}
            {{ render_project_stage(quotation.project.current_stage) }}
        {% else %}
            <span class="text-muted">-</span>
        {% endif %}
    </td>
    <td class="px-3">
        {% if quotation.project %}
            {{ render_project_type(quotation.project.project_type) }}
        {% else %}
            <span class="text-muted">-</span>
        {% endif %}
    </td>
    <td class="px-3">
        {{ render_datetime(quotation.updated_at, format='%Y-%m-%d') }}
    </td>
    <td class="px-3">
        {{ render_datetime(quotation.created_at, format='%Y-%m-%d') }}
    </td>
</tr>
{% endfor %}